.App {
  background-color: #FAFAFA;
  padding-bottom: 50px;
  text-align: center;
}

.mR20 {
  margin-right: 20px;
}

.mL20 {
  margin-left: 20px;
}

.thumbnail {
  width: 30px;
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 20px;
}